server:
  port: 8085

spring:
  application:
    name: chat-service
  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
      discovery:
        enabled: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}:${spring.application.instance-id:${random.value}}
        ip-address: ${HOSTNAME:buildings}
        port: ${server.port}
  liquibase:
    change-log: classpath:/db/changelog.yaml
    user: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:postgres}
  r2dbc:
    pool:
      initial-size: 10
      max-size: 30
      max-idle-time: 179s
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    url: r2dbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:postgres}
  rsocket:
    server:
      port: 18085
      transport: websocket
  jackson:
    deserialization:
      USE_BIG_DECIMAL_FOR_FLOATS: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      access: read_only
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  pattern:
    console: "%clr(%d{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr([callId=%X{callId} userId=%X{userId} initiatorService=%X{initiatorService} method=%X{method}]){magenta} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
  level:
    root: ${ROOT_LOGGING_LEVEL:info}
