server:
  port: 8090

spring:
  application:
    name: api-gateway
  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
      discovery:
        enabled: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}:${spring.application.instance-id:${random.value}}
    gateway:
      server:
        webflux:
          routes:
            - id: api-projects-root
              uri: lb://projects
              predicates:
                - Path=/api/projects
              filters:
                - SetPath=/
            - id: api-projects
              uri: lb://projects
              predicates:
                - Path=/api/projects/**
              filters:
                - StripPrefix=2
            - id: api-documents
              uri: lb://documents
              predicates:
                - Path=/api/document-service/**
              filters:
                - StripPrefix=2
            - id: api-chat
              uri: lb://chat-service
              predicates:
                - Path=/api/chat-service/**
              filters:
                - StripPrefix=2
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins:
                  - "http://localhost:3000"
                  - "http://localhost:3001"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATCH
                  - OPTIONS
                allowedHeaders:
                  - "*"
                allowCredentials: true
                maxAge: 3600
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
              include-expression: "serviceId != 'api-gateway' && serviceId != 'consul'"
              route-id-prefix: api-
              predicates:
                - name: Path
                  args:
                    pattern: "'/api/' + serviceId + '/**'"
              filters:
                - name: RewritePath
                  args:
                    regexp: "'/api/' + serviceId + '/?(.*)'"
                    replacement: "'/$1'"
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak.localhost:8080/realms/domium}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      access: read_only
  prometheus:
    metrics:
      export:
        enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    config-url: /v3/api-docs/swagger-config
    urls:
      - url: /v3/api-docs/aggregated
        name: All Services

gateway:
  security:
    permit-all:
      - /actuator/**
      - /swagger-ui/**
      - /swagger-ui.html
      - /v3/api-docs/**
      - /webjars/**
      - /api/projects
      - /api/projects/**
      - /api/buildings/*/video
  server:
    url: http://localhost:8090

logging:
  level:
    ru.domium.gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: INFO
